<!-- TODO: Change nav color -->
<div class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Weather App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#toggledNavbar"
      aria-controls="toggledNavbar"
      aria-expanded="false"
      aria-label="toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="toggledNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/now">Forecast</a>
        </li>
      </ul>
      <form class="d-flex" role="menu">
        <select
          #selectedLocation
          name="location"
          id="location"
          aria-label="select weather location"
          (change)="onSelect(selectedLocation.value)"
        >
          <option>Select a location</option>
          <option *ngFor="let location of locations">
            {{ location.name | titlecase }}
          </option>
        </select>
      </form>
    </div>
  </div>
</div>
