:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.board {
  height: 75%;
  display: flex;
  overflow-x: auto;
}

#weathercontainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.weather-card {
  display: flex;
  justify-content: center;
}
